body {
  background: #FFF7E4;
  overflow: auto;
}

.main {
  background: #FFF7E4;
  overflow: visible;
}

.logo {
  cursor: pointer;
}

.parent-pane {
  max-width: 1000px;
  overflow: visible;
}

.left-pane {
  background: #003262;
  color: #ffffff;
  overflow: visible;
  min-width: 210px;
  max-height: none !important;
}
.left-pane md-content {
  background: transparent;
  color: #ffffff;
}

.banner {
  background: #fdb515;
  color: #003262;
  font-weight: 500;
}

md-autocomplete {
  margin-left: 10px;
  margin-right: 10px;
}

.header-text {
  padding-left: 10px;
  padding-right: 10px;
  color: #fdb515;
}

.course-list-li {
  cursor: pointer;
  height: 40px;
  color: #ffffff;
}
.course-list-li:hover {
  background: #3b7ea1;
}
.course-list-li.curr-course {
  background: #3b7ea1;
}

.start-add {
  text-align: center;
}

.subject-area li {
  line-height: normal;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.subject-area-description {
  color: grey;
  font-size: small;
}

.course-select md-checkbox {
  width: 20px;
  margin: 2px 10px 2px 2px;
}
.course-select md-checkbox div.md-icon {
  border-color: rgba(256, 256, 256, 0.75);
}
.course-select md-checkbox div.md-icon::after {
  border-color: #003262;
}

.right-pane {
  background-color: #ffffff;
  height: 100%;
  max-height: none !important;
  overflow-y: auto;
}

.right-pane-item {
  width: 100%;
}

table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}

td, th {
  padding: 5px;
}

.section-select {
  text-align: center;
}
.section-select md-checkbox {
  margin: 0;
  width: 20px;
}

.generating-schedules {
  text-align: center;
}

md-progress-linear {
  padding-top: 20px!important;
  margin-bottom: 20px!important;
}

.md-container.md-mode-determinate {
  background-color: #003262;
}

.schedule-generating .md-bar.md-bar2 {
  background-color: #fdb515;
}

.schedule-generating-failed .md-bar.md-bar2 {
  background-color: #ed4e33;
}

.scheduling-options fieldset {
  border: 1px solid rgba(0, 0, 0, 0.27);
  margin: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.scheduling-options md-radio-button {
  margin: 8px !important;
}

.scheduling-options .md-button {
  line-height: normal;
}
.scheduling-options md-checkbox {
  margin: 0;
}

.scheduling-option-category {
  margin-right: -20px;
}

.md-caption.scheduling-subtext {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.54);
}

md-input-container.schedule-option {
  margin: 0 8px 0 8px;
  padding: 0 2px 0 2px;
  width: 175px;
}

.saved-schedule {
  border: 3px solid #003262;
  cursor: pointer;
  height: 60px;
  margin: 2px;
  position: relative;
  width: 48px;
}

md-tooltip.saved-schedule-description .md-content {
  height: auto;
  line-height: 18px;
}

.saved-schedule-drop {
  background-color: #003262;
  cursor: pointer;
  position: absolute;
  right: -3px;
  top: -3px;
  z-index: 20;
}

.schedule-nav-row {
  padding: 0 3px 0 3px;
}

.material-icons.md-light { color: #ffffff; }
md-icon.course-unselect { color: #ed4e33; }
md-icon.schedule-nav { color: #003262; cursor: pointer; }
md-icon.schedule-nav:hover {
  background-color: #3b7ea1;
  color: #ffffff;
}
md-icon.md-18 { font-size: 18px; }
md-icon.md-24 { font-size: 24px; }
md-icon.md-36 { font-size: 36px; }
md-icon.md-48 {width: 48px;height: 48px;}

.current-schedule-index {
  padding: 8px;
}

.schedule-button {
  color: #ffffff !important;
}

.finals-schedule-warn {
  padding-left: 10px;
  padding-right: 10px;
  font-size: small;
}

#schedule-entire, #finals-entire {
  padding: 10px;
}

.schedule-display {
  padding: 0;
  margin: 0;
}

.finals-display-header {
  border-top: 1px solid black;
  border-right: 1px solid black;
  font-size: small;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
}

.finals-display-day {
  height: 165px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  position: relative;
}

.finals-display-hour {
  border-left: 1px solid black;
  border-top: 1px solid black;
  font-size: small;
  overflow: hidden;
  padding: 0 5px 0 5px;
  text-align: center;
}

.finals-display-meeting {
  border-top: 1px solid grey;
}

.finals-display-section {
  background-color: aliceblue;
  box-sizing: border-box;
  position: absolute;
  text-align: center;
  font-size: small;
  width: 100%;
}

.final-display-section-parent:hover > .finals-display-section-hover {
  display: flex;
}

.finals-display-section-inner {
  color: #ffffff;
  margin: 3px;
  text-overflow: ellipsis;
}

.finals-display-section-hover {
  box-sizing: border-box;
  display: none;
  font-size: small;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.schedule-display-header {
  border-top: 1px solid black;
  border-right: 1px solid black;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
}

.schedule-display-header-blank {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.schedule-display-day {
  height: 600px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  position: relative;
}

.schedule-display-hour {
  border-left: 1px solid black;
  border-top: 1px solid black;
  font-size: small;
  text-align: center;
}

.schedule-display-hour-first-half {
  border-top: 1px solid grey;
}

.schedule-display-hour-second-half {
  border-top: 1px dashed grey;
}

.schedule-display-section {
  background-color: aliceblue;
  border-bottom: 1px dashed grey;
  border-top: 1px dashed grey;
  box-sizing: border-box;
  position: absolute;
  text-align: center;
  font-size: small;
}

.schedule-display-section-parent:hover > .schedule-display-section-hover {
  display: flex;
}

.schedule-display-section-inner {
  color: #ffffff;
  max-height: 100%;
  margin: 3px;
  box-sizing: border-box;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.schedule-display-section-hover {
  background-color: aliceblue;
  border-bottom: 1px dashed grey;
  border-top: 1px dashed grey;
  box-sizing: border-box;
  display: none;
  position: absolute;
  text-align: center;
  font-size: small;
  width: 100%;
  z-index: 1;
}

.highlighted-text {
  color: #003262;
}
