body {
  background-color: #FFF7E4;
  font-family: 'Raleway', sans-serif;
  overflow: auto;
}

md-content {
  background-color: white;
}

.md-checkbox-enabled[selected] .md-icon {
  background-color: rgba(253, 181, 21, 0.87);
}

md-checkbox.md-checked div.md-icon {
  border-color: rgba(253, 181, 21, 0.87);
}
