body {
  background-color: #FFF7E4;
  overflow: auto;
}

body, input, textarea {
  font-family: 'Raleway', sans-serif;
}

md-content {
  background-color: white;
}

.md-checkbox-enabled[selected] .md-icon {
  background-color: rgba(253, 181, 21, 0.87);
}

md-checkbox.md-checked div.md-icon {
  border-color: rgba(253, 181, 21, 0.87);
}

md-tooltip > div {
  background-color: #003262 !important;
  font-size: 14px;
}
