<h3 class="md-headline">{{ course.getName() }} - {{ course.title }}</h3>

<h6 class="md-caption">{{ course.description }}</h6>

<table class="right-pane-item md-body-1">
  <tr>
    <th class="section-select">
      <md-checkbox
          ng-model="vm.selectAllSections"
          ng-change="vm.onChangeSelectAllSections()"
          aria-label="Select all/no sections"></md-checkbox>
    </th>
    <th>Number</th>
    <th>Type</th>
    <th>Id</th>
    <th>Location</th>
    <th>Time</th>
    <th>Instructor</th>
    <th>Enrollment</th>
    <th>Waitlist</th>
  </tr>
  <tr ng-repeat="section in course.sections | orderBy:[
        vm.extractSectionTypeMapping,
        'id'
      ]">
    <td class="section-select">
      <md-checkbox
          ng-model="section.selected"
          ng-change="vm.setSchedulesStale()"
          aria-label="Select section">
      </md-checkbox>
    </td>
    <td>{{ section.number }}</td>
    <td>{{ section.type }}</td>
    <td>{{ section.id }}</td>
    <td>{{ section.meetings[0].location }}</td>
    <td>{{ section.meetings[0].toString() }}</td>
    <td>
      <span ng-repeat="instructor in section.meetings[0].instructors">
        {{ instructor.name }}<span ng-if="!$last"> / </span>
      </span>
    </td>
    <td>{{ section.enrolled }}/{{ section.enrollCapacity }}</td>
    <td>{{ section.waitlisted }}/{{ section.waitlistCapacity }}</td>
  </tr>
</table>
