<div class="right-pane-item">
  <div class="generating-schedules" ng-if="vm.scheduleGenerationStatus.status === 'stale'">
    Generate schedules by clicking the button above.
  </div>
  <div class="generating-schedules" ng-if="
      vm.scheduleGenerationStatus.status !== 'stale' &&
      vm.scheduleGenerationStatus.status !== 'failed'
    ">
    Finding the most awesome schedule for you based on your preferences!

    <div ng-if="vm.scheduleGenerationStatus.status === 'generating'">
      <md-progress-linear
        class="schedule-generating"
        md-mode="determinate"
        ng-value="vm.scheduleGenerationStatus.numGenerated / vm.scheduleGenerationStatus.total * 100">
      </md-progress-linear>

      Generated {{ vm.scheduleGenerationStatus.numGenerated }} schedules.
    </div>
    <div ng-if="vm.scheduleGenerationStatus.status === 'done'">
      <md-progress-linear md-mode="indeterminate"></md-progress-linear>
      putting final touches
    </div>
  </div>
  <div ng-if="vm.scheduleGenerationStatus.status === 'failed'">
    <md-progress-linear
      class="schedule-generating-failed"
      md-mode="determinate"
      ng-disabled="true">
    </md-progress-linear>
    Could not generate any valid schedules.
    <span ng-if="vm.scheduleGenerationStatus.reason">
      {{ vm.scheduleGenerationStatus.reason }}
    </span>
  </div>
</div>
