<p align="right">
  <md-button
      class="md-raised"
      ng-click="dvm.toggleSavedSchedules(!dvm.showSavedSchedules)"
      ng-class="{
        'md-primary': dvm.savedSchedules.length > 0,
        'schedule-button': dvm.savedSchedules.length > 0
      }">
    Saved Schedules
  </md-button>

  <md-button class="md-raised md-primary schedule-button" ng-click="dvm.toggleOptions(!dvm.showOptions)">
    Scheduling Options
  </md-button>

  <span ng-if="dvm.scheduleGenerationStatus.status === 'stale'">
    <md-button class="md-accent md-raised" ng-click="dvm.generateAndViewSchedules()">
      Generate Schedules
    </md-button>
  </span>
  <span ng-if="
      dvm.scheduleGenerationStatus.status === 'generating' ||
      dvm.scheduleGenerationStatus.status === 'filteringAndReordering'
    ">
    <md-button class="md-accent md-raised" ng-click="dvm.generateAndViewSchedules()">
      Generating
    </md-button>
  </span>
  <span ng-if="dvm.scheduleGenerationStatus.status === 'done'">
    <md-button class="md-accent md-raised" ng-click="dvm.viewSchedules()">
      View Schedules
    </md-button>
  </span>
  <span ng-if="dvm.scheduleGenerationStatus.status === 'failed'">
    <md-button ng-click="dvm.viewSchedules()">
      No Valid Schedules
      <md-tooltip md-direction="bottom">
        Make changes to your courses/filtering options to fix this.
      </md-tooltip>
    </md-button>
  </span>
</p>

<div ng-show="dvm.showSavedSchedules">
  <div ng-if="dvm.savedSchedules.length > 0">
    <div layout="row" layout-wrap>
      <div
          class="saved-schedule"
          layout="column" layout-align="center center"
          ng-repeat="schedule in dvm.savedSchedules track by schedule.id"
          ng-click="dvm.goToState('schedule.viewSchedule', {scheduleId: schedule.id})">
        <md-tooltip class="saved-schedule-description">
          <div>
          <span ng-repeat="(courseId, courseSections) in schedule.courses">
            {{ courseSections[0].course.department }}
            {{ courseSections[0].course.courseNumber }}:
            <span ng-repeat="section in courseSections">
              {{ section.type }} {{ section.number }}<span ng-if="!$last">,</span>
            </span>
            <span ng-if="!$last"><br></span>
          </span>
          </div>
        </md-tooltip>
        <div class="saved-schedule-drop" ng-click="dvm.dropSavedSchedule($event, schedule)">
          <md-icon class="material-icons md-light"
                   md-svg-icon="close"
                   title="Discard">
          </md-icon>
        </div>
        <div flex></div>
        <div layout-padding>
          {{$index + 1}}
        </div>
      </div>
    </div>
  </div>
  <div ng-if="dvm.savedSchedules.length === 0">
    Save your favorite schedules and they will show up here
  </div>
  <br>
  <md-divider></md-divider>
</div>

<div ng-show="dvm.showOptions" class="scheduling-options">
  <fieldset>
    <legend>
      <h5 class="md-subhead">
        Sorting options
        <span class="md-caption scheduling-subtext">(only one option selectable)</span>
      </h5>
    </legend>
    <md-list layout="column">
      <md-radio-group ng-model="dvm.selectedSortingOption" ng-change="dvm.onChangeSortingOption()">
        <md-list-item ng-click="null">
          <div flex="30" class="md-body-2 scheduling-option-category">
            Preferred time of day
          </div>
          <div flex layout="row" layout-margin>
            <md-radio-button ng-value="dvm.sortingOptions.preferMornings">
              Mornings
              <br>
              <span class="md-caption scheduling-subtext">(&mdash; 12PM)</span>
            </md-radio-button>
            <md-radio-button ng-value="dvm.sortingOptions.preferAfternoons">
              Afternoons
              <br>
              <span class="md-caption scheduling-subtext">(12PM &mdash; 5PM)</span>
            </md-radio-button>
            <md-radio-button ng-value="dvm.sortingOptions.preferEvenings">
              Evenings
              <br>
              <span class="md-caption scheduling-subtext">(5PM &mdash;)</span>
            </md-radio-button>
          </div>
        </md-list-item>
        <md-list-item ng-click="null">
          <div flex="30" class="md-body-2 scheduling-option-category">
            Gaps between classes
          </div>
          <div flex layout="row" layout-margin>
            <md-radio-button ng-value="dvm.sortingOptions.minimizeGaps">
              Minimize Gaps
            </md-radio-button>
            <md-radio-button ng-value="dvm.sortingOptions.maximizeGaps">
              Maximize Gaps
            </md-radio-button>
          </div>
        </md-list-item>
        <md-list-item ng-click="null">
          <div flex="30" class="md-body-2 scheduling-option-category">
            Number of days in week
          </div>
          <div flex layout="row" layout-margin>
            <md-radio-button ng-value="dvm.sortingOptions.minimizeNumberOfDays">
              Minimize Days
            </md-radio-button>
            <md-radio-button ng-value="dvm.sortingOptions.maximizeNumberOfDays">
              Maximize Days
            </md-radio-button>
          </div>
        </md-list-item>
        <md-list-item ng-click="null">
          <div flex="30" class="md-body-2 scheduling-option-category">
            Time conflicts
          </div>
          <div flex layout="row" layout-margin>
            <md-radio-button ng-value="dvm.sortingOptions.preferNoTimeConflicts">
              Minimize time conflicts
            </md-radio-button>
          </div>
        </md-list-item>
        <md-list-item ng-click="null">
          <div flex="30" class="md-body-2 scheduling-option-category">
          </div>
          <div flex layout="row" layout-margin>
            <md-radio-button ng-value="dvm.sortingOptions.noPreference">
              No preference
            </md-radio-button>
          </div>
        </md-list-item>
      </md-radio-group>
    </md-list>
  </fieldset>
  <fieldset>
    <legend>
      <h5 class="md-subhead">Filtering options</h5>
    </legend>
    <md-list layout="column">
      <md-list-item ng-click="null">
        <div flex="30" class="md-body-2 scheduling-option-category">
          Time conflicts
        </div>
        <div flex layout="row" layout-margin>
          <md-input-container>
            <md-checkbox ng-model="dvm.noTimeConflicts" ng-change="dvm.onChangeNoTimeConflicts()">
              No time conflicts
            </md-checkbox>
          </md-input-container>
        </div>
      </md-list-item>
      <md-list-item ng-click="null">
        <div flex="30" class="md-body-2 scheduling-option-category">
          Time of day restrictions
        </div>
        <div flex layout="row" layout-margin>
          <md-input-container class="schedule-option">
            <label>First class starting at/after</label>
            <md-select
              ng-model="dvm.selectedDayStartTimeJson"
              ng-change="dvm.onSelectDayStartTime();">
              <md-option
                ng-repeat="time in dvm.dayStartTimes"
                ng-selected="dvm.isSelectedDayStartTime(time)"
                value="{{time}}">
                {{time.toString()}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="schedule-option">
            <label>Last class ending at/before</label>
            <md-select
              ng-model="dvm.selectedDayEndTimeJson"
              ng-change="dvm.onSelectDayEndTime();">
              <md-option
                ng-repeat="time in dvm.dayEndTimes"
                ng-selected="dvm.isSelectedDayEndTime(time)"
                value="{{time}}">
                {{time.toString()}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
      </md-list-item>
    </md-list>
  </fieldset>
  <md-divider></md-divider>
</div>
