<div ng-if="vm.enableFinalsSchedule && vm.showFinalsSchedule">
  <div class="finals-schedule-warn">
    Note: This finals schedule is based on the calendar provided at
    <a href="http://schedule.berkeley.edu/examf.html" target="_blank">schedule.berkeley.edu</a>.
    As mentioned there, final exams are based on the day and time a course is offered
    therefore, if the course schedule changes, the exam group may also change. Also this
    is only a guideline for faculty and students to get a sense of when their final exam may
    take place. Final exams will be assigned around the first week of classes, and may not
    follow these guidelines.
  </div>
  <div id="finals-entire" layout="column" class="right-pane-item">
    <div class="schedule-display" layout="row">
      <div class="schedule-display schedule-display-header-blank" flex="10"></div>
      <div class="schedule-display finals-display-header"
           ng-repeat="day in vm.days"
           flex>
        {{day}} ({{vm.dayDates[day]}})
      </div>
    </div>

    <div class="schedule-display" layout="row">
      <div class="schedule-display finals-display-day"
           layout="column" flex="10">
        <div class="schedule-display finals-display-hour"
             ng-repeat="meeting in vm.finalMeetings"
             flex>
          {{meeting.toString()}}
        </div>
      </div>

      <div class="schedule-display finals-display-day final-display-section-parent"
           ng-repeat="day in vm.days"
           layout="column" flex>
        <div class="schedule-display"
             ng-repeat="meeting in vm.finalMeetings"
             layout="column" flex>
          <div class="schedule-display finals-display-meeting" flex></div>
        </div>

        <div class="final-display-section-parent"
             ng-repeat="final in vm.getFinalsForDay(schedule.courses, day)">
          <div class="schedule-display finals-display-section"
               layout="row" layout-align="center center"
               ng-style="vm.getFinalStyle(final)">
            <div class="schedule-display finals-display-section-inner">
              {{final.course.department}} {{final.course.courseNumber}}
            </div>
          </div>

          <div class="schedule-display finals-display-section-hover"
               layout="row" layout-align="center center"
               ng-style="vm.getFinalHoverStyle(final)">
            <div class="schedule-display finals-display-section-inner">
              {{final.course.department}} {{final.course.courseNumber}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div layout="row" layout-align="center center" class="schedule-nav-row">
  <div flex layout="row">
    <div>
      <md-button class="md-raised" ng-click="vm.toggleFinalsSchedule()" ng-disabled="!vm.enableFinalsSchedule">
        Finals Schedule
      </md-button>
      <md-tooltip>
        Coming soon!
      </md-tooltip>
    </div>
    <div flex></div>
    <div>
      <md-icon class="md-48 schedule-nav"
               md-svg-icon="page-first"
               title="Skip to first schedule"
               ng-click="vm.goToState('schedule.viewSchedule', {
                 scheduleId: vm.currScheduleListInfo.firstScheduleId
               })">
      </md-icon>
    </div>
    <div>
      <md-icon class="md-48 schedule-nav"
               md-svg-icon="chevron-double-left"
               title="Skip to previous set of schedules with different section times"
               ng-click="vm.goToState('schedule.viewSchedule', {
                 scheduleId: vm.currScheduleListInfo.prevFpFirstScheduleId
               })">
      </md-icon>
    </div>
    <div>
      <md-icon class="md-48 schedule-nav"
               md-svg-icon="chevron-left"
               title="Go to previous Schedule"
               ng-click="vm.goToState('schedule.viewSchedule', {
                 scheduleId: vm.currScheduleListInfo.prevScheduleId
               })">
      </md-icon>
    </div>
  </div>
  <div class="current-schedule-index">
    {{vm.currScheduleListInfo.currentIdx+1}} of {{vm.currScheduleListInfo.total}}
  </div>
  <div flex layout="row">
    <div>
      <md-icon class="md-48 schedule-nav"
               md-svg-icon="chevron-right"
               title="Go to next schedule"
               ng-click="vm.goToState('schedule.viewSchedule', {
                 scheduleId: vm.currScheduleListInfo.nextScheduleId
               })">
      </md-icon>
    </div>
    <div>
      <md-icon class="md-48 schedule-nav"
               md-svg-icon="chevron-double-right"
               title="Skip to next set of schedules with different section times"
               ng-click="vm.goToState('schedule.viewSchedule', {
                 scheduleId: vm.currScheduleListInfo.nextFpFirstScheduleId
               })">
      </md-icon>
    </div>
    <div flex></div>
    <div>
      <md-menu>
        <md-button class="md-raised" ng-click="$mdOpenMenu($event)">
          Save
        </md-button>
        <md-menu-content>
          <md-menu-item ng-click="vm.addSavedSchedule(schedule)">
            <md-button>
              Add to Saved Schedules
            </md-button>
          </md-menu-item>
          <md-menu-item ng-click="vm.exportScheduleToCalendar(schedule)">
            <md-button>
              Export schedule as calendar
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
    <div>
      <md-button class="md-raised" md-no-ink>
        Share
        <md-tooltip>
          Share this schedule by sharing the url to this page.
        </md-tooltip>
      </md-button>
    </div>
  </div>
</div>

<div id="schedule-entire" layout="column" class="right-pane-item">
  <div class="schedule-display" layout="row">
    <div class="schedule-display schedule-display-header-blank" flex="10"></div>
    <div class="schedule-display schedule-display-header"
         ng-repeat="day in vm.days"
         flex>
      {{day}}
    </div>
  </div>

  <div class="schedule-display" layout="row">
    <div class="schedule-display schedule-display-day"
         layout="column" flex="10">
      <div class="schedule-display schedule-display-hour"
           ng-repeat="hour in vm.hours"
           flex>
        {{hour.toString()}}
      </div>
    </div>

    <div class="schedule-display schedule-display-day"
         ng-repeat="day in vm.days"
         layout="column" flex>
      <div class="schedule-display"
           ng-repeat="hour in vm.hours"
           layout="column" flex>
        <div class="schedule-display schedule-display-hour-first-half" flex></div>
        <div class="schedule-display schedule-display-hour-second-half" flex></div>
      </div>

      <!--Sections-->
      <span ng-repeat="sectionGroup in schedule.getSectionGroupsForDay(day)">
        <div ng-repeat="sectionView in sectionGroup.getSectionViews()" class="schedule-display-section-parent">
          <div class="schedule-display schedule-display-section"
               layout="row" layout-align="center center"
               ng-style="vm.getSectionViewStyle(sectionView)">
            <div class="schedule-display schedule-display-section-inner"
                 title="{{sectionView.course.department}} {{sectionView.course.courseNumber}} {{sectionView.type}}&#13;&#10;{{sectionView.location}}">
              {{sectionView.course.department}} {{sectionView.course.courseNumber}} {{sectionView.type}}<br>
              {{sectionView.location}}
            </div>
          </div>

          <div class="schedule-display schedule-display-section-hover"
               layout="row" layout-align="center center"
               ng-style="vm.getSectionViewHoverStyle(sectionView)">
            <div class="schedule-display schedule-display-section-inner"
                 title="{{sectionView.course.department}} {{sectionView.course.courseNumber}} {{sectionView.type}}&#13;&#10;{{sectionView.location}}">
              {{sectionView.course.department}} {{sectionView.course.courseNumber}} {{sectionView.type}}<br>
              {{sectionView.location}}
            </div>
          </div>
        </div>
      </span>
    </div>
  </div>

</div>
