<div layout="row" layout-align="center" class="main md-body-1">
<div layout="row" md-whiteframe="10" class="parent-pane" flex>
<div class="left-pane" id="left-pane" flex="25" layout="column">
  <br>
  <div layout="row" layout-align="center" layout-padding>
    <div>
      <img class="logo" src="client/images/logo_beta.png" width="150px" ui-sref="schedule()">
    </div>
  </div>
  <br>
  <div class="banner" layout="row" layout-align="center" layout-padding>
    Now with Spring 2017 classes!
  </div>
  <br>
  <form ng-submit="$event.preventDefault()">
    <md-autocomplete
        tabindex=1
        ng-disabled="vm.subjectAreaIsDisabled"
        md-autoselect
        md-min-length="0"
        md-search-text="subjectAreaQuery"
        md-items="subjectArea in vm.searchSubjectArea(subjectAreaQuery) | orderBy:'-code':true"
        md-item-text="subjectArea.code"
        md-selected-item="selectedSubjectArea"
        md-selected-item-change="vm.selectSubjectArea(selectedSubjectArea)"
        placeholder="Subject Area"
        md-menu-class="subject-area">
      <md-item-template>
        <div class="subject-area-code">{{subjectArea.code}}</div>
        <div class="subject-area-description">{{subjectArea.description}}</div>
      </md-item-template>
      <md-not-found>
        No matches found.
      </md-not-found>
    </md-autocomplete>

    <br>

    <md-autocomplete
        tabindex=2
        ng-disabled="vm.courseIsDisabled"
        md-autoselect
        md-no-cache
        md-min-length="0"
        md-search-text="courseQuery"
        md-items="course in vm.searchCourse(courseQuery) |
          orderBy: [
            vm.extractCourseNumberNumber,
            vm.extractCourseNumberSuffix,
            vm.extractCourseNumberPrefix
          ]"
        md-item-text="course.courseNumber"
        md-selected-item="vm.selectedCourse"
        md-selected-item-change="vm.selectCourse(vm.selectedCourse)"
        placeholder="Course Number/Title"
        md-menu-class="subject-area">
      <md-item-template>
        <div class="subject-area-code">{{course.courseNumber}}</div>
        <div class="subject-area-description">{{course.title || ' '}}</div>
      </md-item-template>
      <md-not-found>
        No courses found.
      </md-not-found>
    </md-autocomplete>
  </form>

  <br>
  <div>
    <div
        ng-if="vm.addedCoursesList.length > 0"
        ng-repeat="course in vm.addedCoursesList"
        layout="row" layout-align="center center"
        ui-sref-active="curr-course"
        class="header-text md-subhead course-list-li">
      <div layout="row" layout-align="start center" class="course-select">
        <md-checkbox
            ng-model="course.selected"
            ng-change="vm.setSchedulesStale()"
            class="course-select"
            aria-label="Select course"></md-checkbox>
      </div>
      <div ui-sref="schedule.viewCourse({id: course.id})"
           flex layout="row" layout-align="start center">
        {{course.department}} {{course.courseNumber}}
      </div>
      <md-icon class="course-unselect"
               md-svg-icon="minus-circle"
               title="Drop"
               ng-click="vm.dropCourse(course)">
      </md-icon>
    </div>
    <div class="header-text md-subhead start-add" ng-if="vm.addedCoursesList.length === 0">
      Start by adding courses above
    </div>
  </div>
  <div flex></div>
  <div layout="row" layout-align="center" layout-padding flex-offset="100">
    <md-button
        class="md-warn md-raised"
        href="https://github.com/mDibyo/berkeley-scheduler/blob/gh-pages/README.md"
        target="_blank">
      Give Feedback
    </md-button>
  </div>
</div>

<div class="right-pane" id="right-pane" flex>
  <md-content layout="column" layout-padding>
    <bs-generate-schedules></bs-generate-schedules>

    <ui-view></ui-view>
  </md-content>
</div>
</div>
</div>
