<div ng-if="vm.selectedSchedule">
  <bs-schedule-display schedule="vm.selectedSchedule">
    Loading schedule
  </bs-schedule-display>
</div>
<div>
  <span ng-if="!vm.selectedSchedule" class="md-subhead">No available schedules.</span>
</div>

