.set_credentials.sh

/intermediate

!/intermediate/fetched-course-json/.keep

!/intermediate/extracted-course-json/.keep

!/intermediate/departments/.keep
!/intermediate/departments/course-listing-by-department/.keep
!/intermediate/departments/course-listing-by-subject-area/.keep
!/intermediate/departments/class-listing-fall-2016-by-subject-area/.keep

/recover

!/recover/.keep
!/recover/classes/.keep
!/recover/indices/.keep

