/* Find */

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

td, th {
    padding: 5px;
}

.course-sections {
    width: 100%;
}

.left-pane {
    background: #003262;
    color: #ffffff;
    height: 100%;
}
.left-pane md-content {
    background: transparent;
    color: #FDB515;
}
.left-pane,
.left-pane.md-locked-open-add-active,
.left-pane.md-locked-open {
    width:     250px;
    min-width: 250px;
    max-width: 250px;
}

md-autocomplete {
    margin-left: 10px;
    margin-right: 10px;
}

.header-text {
    padding-left: 10px;
    padding-right: 10px;
}

.course-list-li {
    cursor: pointer;
    height: 40px;
}
.course-list-li:hover {
    background: #3B7EA1;
}
.course-list-li:active {
    background: #3B7EA1;
}
.course-list-li.curr-course {
    background: #3B7EA1;
}

.subject-area li {
    line-height: normal;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.subject-area-description {
    color: grey;
    font-size: small;
}

#view-course {
    width: 800px;
}


/* Schedule */

#schedule-entire {
    padding: 20px;
    /*position: relative;*/
    width: 600px;
}

.schedule-display {
    padding: 0;
    margin: 0;
    font-size: small;
}

.schedule-display-header {
    border-top: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
    line-height: 25px;
    font-weight: bold;
}

.schedule-display-header-blank {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.schedule-display-day {
    height: 600px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    position: relative;
}

.schedule-display-hour {
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.schedule-display-hour-first-half {
    border-top: 1px solid grey;
}

.schedule-display-hour-second-half {
    border-top: 1px dashed grey;
}

.schedule-display-section {
    background-color: aliceblue;
    position: absolute;
    width: 100%;
}