/* Find */

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

td, th {
    padding: 5px;
}

.course-sections {
    width: 100%;
}

#select-courses, #view-course {
    float: left;
    padding: 5px;
}

#select-courses {
    width: 200px;
}

#view-course {
    width: 800px;
}


/* Schedule */

#schedule-entire {
    padding: 20px;
    position: relative;
    width: 600px;
}

.schedule-display {
    padding: 0;
    margin: 0;
    font-size: small;
}

.schedule-display-header {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
    line-height: 25px;
    font-weight: bold;
}

.schedule-display-header-blank {
    border: 1px solid black;
}

.schedule-display-day {
    height: 600px;
}

.schedule-display-hour {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.schedule-display-hour-first-half {
    /*border-top: 1px solid grey;*/
    border-right: 1px solid grey;
}

.schedule-display-hour-second-half {
    border-top: 1px dashed grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
}