<div class="event-display right-pane-item" layout="column">
  <div layout="row">
    <md-input-container class="event-name" title="Event Name" flex>
      <input class="md-headline" type="text" placeholder="Event Name" ng-model="event.name">
    </md-input-container>
  </div>
  <div>
    <div
        class="event-meetings-container repeat-animate"
        ng-repeat="meeting in event.option.meetings track by meeting.id">
      <bs-meeting-editor
          meeting="meeting"
          on-change="vm.saveMeeting(meeting)"
          on-time-change="vm.setScheduleStale()">
      </bs-meeting-editor>
    </div>
    <div>
      <div
          class="event-meeting-add"
          ng-click="vm.addMeeting()"
          layout="column" layout-align="start center">
        <md-icon class="event-meeting-add-icon" md-svg-icon="plus-circle" title="Add Meeting">
      </div>
    </div>
  </div>
</div>
