<div class="event-display right-pane-item" layout="column">
  <div layout="row">
    <md-input-container class="event-name" title="Event Name" flex>
      <input class="md-headline" type="text" placeholder="Event Name" ng-model="event.name">
    </md-input-container>
    <!--<div flex></div>-->
    <div layout="column" layout-align="end center" flex-offset="100">
      <md-button class="md-raised" ng-click="vm.addMeeting()">
        Add Meeting
      </md-button>
    </div>
  </div>
  <div>
    <div
        class="event-meeting-repeat"
        ng-repeat="meeting in event.option.meetings | reverse track by meeting.id">
      <bs-meeting-editor
          meeting="meeting"
          on-change="vm.saveMeeting(meeting)"
          on-time-change="vm.setScheduleStale()">
      </bs-meeting-editor>
    </div>
  </div>
</div>
