<p align="right">
  <md-button
      class="md-raised"
      ng-click="dvm.toggleSavedSchedules(!dvm.showSavedSchedules)"
      ng-class="{
        'md-primary': dvm.savedScheduleIds.length > 0,
        'schedule-button': dvm.savedScheduleIds.length > 0
      }">
    Saved Schedules
  </md-button>

  <md-button class="md-raised" ng-click="dvm.toggleOptions(!dvm.showOptions)">
    Scheduling Options
  </md-button>

  <span ng-if="dvm.scheduleIsStale">
    <md-button class="md-accent md-raised" ng-click="dvm.generateAndViewSchedules()">
      {{dvm.generateMessage}}
    </md-button>
  </span>
  <span ng-if="!dvm.scheduleIsStale">
    <md-button class="md-accent md-raised" ng-click="dvm.viewSchedules()">
      View Schedules
    </md-button>
  </span>
</p>

<div ng-show="dvm.showSavedSchedules">
  <div ng-if="dvm.savedScheduleIds.length > 0">
    <div layout="row" layout-wrap>
      <div
          class="saved-schedule"
          layout="column" layout-align="center center"
          ng-repeat="scheduleId in dvm.savedScheduleIds track by scheduleId"
          ng-click="dvm.goToState('schedule.viewSchedule', {scheduleId: scheduleId})">
        <div class="saved-schedule-drop" ng-click="dvm.dropSavedScheduleById($event, scheduleId)">
          <i class="material-icons md-light">close</i>
        </div>
        <div flex></div>
        <div layout-padding>
          {{$index + 1}}
        </div>
      </div>
    </div>
  </div>
  <div ng-if="dvm.savedScheduleIds.length === 0">
    Save your favorite schedules and they will show up here
  </div>
  <br>
  <md-divider></md-divider>
</div>

<div ng-show="dvm.showOptions">
  <div layout="row" layout-padding>
    <div>
      <md-input-container>
        <md-radio-group ng-model="dvm.preferPartOfDay" ng-change="dvm.onChangePreferPartOfDay()">
          <md-radio-button ng-value="dvm.partsOfDay.morning">
            Prefer mornings (- 12PM)
          </md-radio-button>
          <md-radio-button ng-value="dvm.partsOfDay.afternoon">
            Prefer afternoons (12PM - 5PM)
          </md-radio-button>
          <md-radio-button ng-value="dvm.partsOfDay.evening">
            Prefer evenings (5PM -)
          </md-radio-button>
          <md-radio-button ng-value="dvm.partsOfDay.none">
            None
          </md-radio-button>
        </md-radio-group>
      </md-input-container>
    </div>
    <div>
    <md-input-container>
      <md-radio-group ng-model="dvm.gapOption" ng-change="dvm.onChangeGapOption()">
        <md-radio-button ng-value="dvm.gapOptions.minimize">
          Minimize Gaps
        </md-radio-button>
        <md-radio-button ng-value="dvm.gapOptions.maximize">
          Maximize Gaps
        </md-radio-button>
        <md-radio-button ng-value="dvm.gapOptions.none">
          None
        </md-radio-button>
      </md-radio-group>
    </md-input-container>
    </div>
    <div layout="column">
      <md-input-container>
        <md-checkbox ng-model="dvm.noTimeConflicts" ng-change="dvm.onChangeNoTimeConflicts()">
          No time conflicts
        </md-checkbox>
        <md-checkbox
            ng-model="dvm.preferNoTimeConflicts"
            ng-disabled="dvm.disablePreferNoTimeConflicts"
            ng-change="dvm.onChangePreferNoTimeConflicts">
          Prefer no time conflicts
        </md-checkbox>
      </md-input-container>
      <div layout="row">
        <md-input-container class="schedule-option">
          <label>First class starting at/after</label>
          <md-select
              ng-model="dvm.selectedDayStartTimeJson"
              ng-change="dvm.onSelectDayStartTime();">
            <md-option
                ng-repeat="time in dvm.dayStartTimes"
                ng-selected="dvm.isSelectedDayStartTime(time)"
                value="{{time}}">
              {{time.toString()}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="schedule-option">
          <label>Last class ending at/before</label>
          <md-select
              ng-model="dvm.selectedDayEndTimeJson"
              ng-change="dvm.onSelectDayEndTime();">
            <md-option
                ng-repeat="time in dvm.dayEndTimes"
                ng-selected="dvm.isSelectedDayEndTime(time)"
                value="{{time}}">
              {{time.toString()}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
    </div>
  </div>
  <md-divider></md-divider>
</div>
