<div ng-if="vm.showFinalsSchedule">
  <div class="finals-schedule-warn">
    Note: This finals schedule is based on the calendar provided at
    <a href="http://schedule.berkeley.edu/examf.html" target="_blank">schedule.berkeley.edu</a>.
    As mentioned there, final exams are based on the day and time a course is offered
    therefore, if the course schedule changes, then the exam group may also change. Also this
    is only a guideline for faculty and students to get a sense of when their final exam may
    take place. Final exams will be assigned around the first week of classes, and may not
    follow these guidelines.
  </div>
  <div id="finals-entire" layout="column" class="right-pane-item">
    <div class="schedule-display" layout="row">
      <div class="schedule-display schedule-display-header-blank" flex="10"></div>
      <div class="schedule-display finals-display-header"
           ng-repeat="day in vm.days"
           flex>
        {{day}} ({{vm.dayDates[day]}})
      </div>
    </div>

    <div class="schedule-display" layout="row">
      <div class="schedule-display finals-display-day"
           layout="column" flex="10">
        <div class="schedule-display finals-display-hour"
             ng-repeat="meeting in vm.finalMeetings"
             flex>
          {{meeting.toString()}}
        </div>
      </div>

      <div class="schedule-display finals-display-day"
           ng-repeat="day in vm.days"
           layout="column" flex>
        <div class="schedule-display"
             ng-repeat="meeting in vm.finalMeetings"
             layout="column" flex>
          <div class="schedule-display finals-display-meeting" flex></div>
        </div>

        <div class="schedule-display finals-display-section"
             ng-repeat="final in vm.getFinalsForDay(schedule.courses, day)"
             ng-style="{
               'top': vm.getFinalPosition(final),
               'height': vm.getFinalHeight(),
               'background-color': vm.getFinalBackgroundColor(final),
               'border-color': vm.getFinalBorderColor(final),
             }">
          <div class="schedule-display finals-display-section-inner">
            {{final.course.department}} {{final.course.courseNumber}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div layout="row" layout-align="center center">
  <div flex layout="row" layout-align="right right">
    <div>
      <md-button class="md-raised" ng-click="vm.toggleFinalsSchedule()">
        Finals Schedule
      </md-button>
    </div>
    <div flex></div>
    <div>
      <i class="material-icons md-48 schedule-nav"
         ui-sref="schedule.viewSchedule({scheduleId: vm.currScheduleListInfo.firstScheduleId})">
        first_page
      </i>
    </div>
    <div>
      <i class="material-icons md-48 schedule-nav"
         ui-sref="schedule.viewSchedule({scheduleId: vm.currScheduleListInfo.prevScheduleId})">
        chevron_left
      </i>
    </div>
  </div>
    {{vm.currScheduleListInfo.currentIdx+1}} of {{vm.currScheduleListInfo.total}}
  <div flex layout="row">
    <div>
      <i class="material-icons md-48 schedule-nav"
         ui-sref="schedule.viewSchedule({scheduleId: vm.currScheduleListInfo.nextScheduleId})">
        chevron_right
      </i>
    </div>
    <div flex></div>
    <div>
      <md-button
          ng-click="vm.addSavedScheduleById(schedule.id)"
          class="md-raised">
        Save
      </md-button>
    </div>
    <div id="share-outer">
      <md-button
          md-ink-ripple="false"
          ng-mouseenter="vm.showShareMessage=true" ng-mouseleave="vm.showShareMessage=false"
          class="md-raised">
        Share
      </md-button>
      <div id="share-message" ng-show="vm.showShareMessage">
        <md-button
            md-ink-ripple="false"
            ng-mouseenter="vm.showShareMessage=true" ng-mouseleave="vm.showShareMessage=false"
            class="md-primary md-raised schedule-button">
          Share
        </md-button>
        <div layout-padding>Share this schedule by sharing the url to this page.</div>
      </div>
    </div>
  </div>
</div>

<div id="schedule-entire" layout="column" class="right-pane-item">
  <div class="schedule-display" layout="row">
    <div class="schedule-display schedule-display-header-blank" flex="10"></div>
    <div class="schedule-display schedule-display-header"
         ng-repeat="day in vm.days"
         flex>
      {{day}}
    </div>
  </div>

  <div class="schedule-display" layout="row">
    <div class="schedule-display schedule-display-day"
         layout="column" flex="10">
      <div class="schedule-display schedule-display-hour"
           ng-repeat="hour in vm.hours"
           flex>
        {{hour.toString()}}
      </div>
    </div>

    <div class="schedule-display schedule-display-day"
         ng-repeat="day in vm.days"
         layout="column" flex>
      <div class="schedule-display"
           ng-repeat="hour in vm.hours"
           layout="column" flex>
        <div class="schedule-display schedule-display-hour-first-half" flex></div>
        <div class="schedule-display schedule-display-hour-second-half" flex></div>
      </div>

      <!--Sections-->
      <div class="schedule-display schedule-display-section"
           layout="row" layout-align="center center"
           ng-repeat="meeting in schedule.meetingsByDay[day]"
           ng-style="{
             'top': vm.getMeetingPosition(meeting),
             'height': vm.getMeetingHeight(meeting),
             'background-color': vm.getMeetingBackgroundColor(meeting),
             'border-color': vm.getMeetingBorderColor(meeting),
           }">
        <div class="schedule-display schedule-display-section-inner"
             title="{{meeting.course.department}} {{meeting.course.courseNumber}} {{meeting.type}}&#13;&#10;{{meeting.location}}">
          {{meeting.course.department}} {{meeting.course.courseNumber}} {{meeting.type}}<br>
          {{meeting.location}}
        </div>
      </div>
    </div>
  </div>

</div>
