.set_credentials.sh

/fetched-course-json
!/fetched-course-json/.keep

/extracted-course-json
!/extracted-course-json/.keep

/departments
!/departments/.keep
!/departments/course-listing-by-department/.keep
!/departments/course-listing-by-subject-area/.keep
!/departments/class-listing-fall-2016-by-subject-area/.keep
