<div layout="row">
<md-sidenav md-component-id="left" class="left-pane" md-is-locked-open="true" flex>
  <div class="header-text">
    <h3 class="md-headline">Add courses</h3>
  </div>
  <form ng-submit="$event.preventDefault()">
    <md-autocomplete
        tabindex=1
        ng-disabled="vm.subjectAreaIsDisabled"
        md-autofocus
        md-autoselect
        md-min-length="0"
        md-search-text="subjectAreaQuery"
        md-items="subjectArea in vm.searchSubjectArea(subjectAreaQuery) | orderBy:'-code':true"
        md-item-text="subjectArea.code"
        md-selected-item="selectedSubjectArea"
        md-selected-item-change="vm.selectSubjectArea(selectedSubjectArea)"
        placeholder="Subject Area"
        md-menu-class="subject-area">
      <md-item-template>
        <div class="subject-area-code">{{subjectArea.code}}</div>
        <div class="subject-area-description">{{subjectArea.description}}</div>
      </md-item-template>
    </md-autocomplete>

    <br>

    <md-autocomplete
        tabindex=2
        ng-disabled="vm.courseIsDisabled"
        md-autoselect
        md-min-length="0"
        md-search-text="courseQuery"
        md-items="course in vm.searchCourse(courseQuery) |
          orderBy: [
            vm.extractCourseNumberNumber,
            vm.extractCourseNumberSuffix,
            vm.extractCourseNumberPrefix
          ]"
        md-item-text="course.courseNumber"
        md-selected-item="vm.selectedCourse"
        md-selected-item-change="vm.selectCourse(vm.selectedCourse)"
        placeholder="Course Number"
        md-menu-class="subject-area">
      <md-item-template>
        <div class="subject-area-code">{{course.courseNumber}}</div>
        <div class="subject-area-description">{{course.title || ' '}}</div>
      </md-item-template>
    </md-autocomplete>
  </form>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div ng-show="vm.inDisplayMode">
    <a href="" ng-click="vm.leaveDisplayMode()">Go back to your own schedule.</a>

  </div>
  <div ng-hide="vm.inDisplayMode">
    <div class="header-text">
      <h3 class="md-headline">Added Courses</h3>
    </div>
    <md-content>
      <div
          ng-repeat="course in vm.addedCoursesList"
          layout="row" layout-align="center center"
          class="header-text md-subhead course-list-li"
          ng-class="{'curr-course': course.id == vm.currCourse.id}">
        <div ui-sref="schedule.viewCourse({id: course.id})" flex>
          {{course.department}} {{course.courseNumber}}
        </div>&nbsp;
        <div ng-click="vm.dropCourse(course)">drop</div>
      </div>
    </md-content>
  </div>
</md-sidenav>

<div id="view-course">
  <sb-generate-schedules></sb-generate-schedules>

  <ui-view>
  </ui-view>
</div>
</div>