<div id="select-courses">
  <md-content>
    <form ng-submit="$event.preventDefault()">
      <md-autocomplete
          ng-disabled="vm.subjectAreaIsDisabled"
          md-autofocus
          md-autoselect
          md-min-length="0"
          md-search-text="subjectAreaQuery"
          md-items="subjectArea in vm.searchSubjectArea(subjectAreaQuery)"
          md-item-text="subjectArea.code"
          md-selected-item="selectedSubjectArea"
          md-selected-item-change="vm.selectSubjectArea(selectedSubjectArea)"
          placeholder="Subject Area"
          md-menu-class="subject-area">
        <md-item-template>
          <div class="subject-area-code">{{subjectArea.code}}</div>
          <div class="subject-area-description">{{subjectArea.description}}</div>
        </md-item-template>
      </md-autocomplete>

      <br>

      <md-autocomplete
          ng-disabled="vm.courseIsDisabled"
          md-autoselect
          md-min-length="0"
          md-search-text="courseQuery"
          md-items="course in vm.searchCourse(courseQuery)"
          md-item-text="course.code"
          md-selected-item="vm.selectedCourse"
          md-selected-item-change="vm.selectCourse(vm.selectedCourse)"
          placeholder="Course Number"
          md-menu-class="subject-area">
        <md-item-template>
          <div class="subject-area-code">{{subjectArea.code}}</div>
          <div class="subject-area-description">{{subjectArea.description}}</div>
        </md-item-template>
      </md-autocomplete>
    </form>
  </md-content>
  <h3>All courses</h3>
  <ul>
    <li ng-repeat="course in vm.coursesList">
      {{course.department}} {{course.courseNumber}}
      <a href="" ng-click="vm.addCourse(course)">add</a>
    </li>
  </ul>

  <br>

  <h3>Added Courses</h3>
  <ul>
    <li ng-repeat="course in vm.addedCoursesList">
      <a ui-sref="schedule.viewCourse({ccn: course.ccn})">
        {{course.department}} {{course.courseNumber}}
      </a>&nbsp;
      <a href="" ng-click="vm.dropCourse(course)">drop</a>
    </li>
  </ul>
</div>

<div id="view-course">
  <ui-view>
    <sb-generate-schedules></sb-generate-schedules>
  </ui-view>
</div>